.stat-slider-container
{
    background-color:$raven;
    position:relative;
    transition:height 0.3s ease;

    .pin-spacer
    {
        position:relative !important;
        z-index:5 !important;
    }
    .stat-slide-inner 
    {
        position:relative;
        z-index:3;
        width:1216px;
        max-width:100%;
        margin:0 auto 0 auto;
    }
    .stat-slide-wrapper 
    {
        padding:131px 0 280px 0;
        position:relative;
        
        .owl-stage-outer 
        {
            .stat-slide 
            {
                .grid-x 
                {
                    width:1216px;
                    max-width:100%;
                    margin:0 auto 0 auto;
                }
            }   
        }
        .owl-dots 
        {
            bottom:109px;
        }
    }
    .grid-container 
    {
        position:relative;
    }
    .progress-wrapper 
    {
        width:410px;
        max-width:90%;
        margin:0 auto 0 auto;
        position:absolute;
        bottom:109px;
        left:50%;
        transform:translateX(-50%);
        height:15px;
        padding:0 10px;
        z-index:0;

        .progress-bg
        {
            border:1px dashed $screetch;
            position:relative;
            top:4px;
        }
        .progress-bar
        {
            @include transition;
            background-color:$flamingo;
            height:2px;
            width:0;
            position:relative;
            top: 2px;
        }
    }
    .stat-slide-wrapper
    {
        position:relative;
        z-index:3;
    }
    .stat-slide 
    {
        .stat-cell
        {
            width:50%;
            flex-grow:1;
        }
        h2 
        {
            margin:0 0 5px 0;
        }
        p 
        {
            margin:0 0 0 0;
        }
        .fine-print
        {
            padding-top:28px;
            width:473px;
            max-width:100%;
            
            p 
            {
                font-size:12px;
                line-height:1.1;
            }
        }
        .date-cell 
        {
            display:table;

            p 
            {
                display:table-cell;
                vertical-align: bottom;
                text-align:right;
            }
        }
    }
}
@media screen and (min-width:1296px) and (max-width:1600px)
{
    .stat-slider-container .stat-slide-wrapper
    {
        padding:80px 0 229px 0;
    }
}
@media screen and (min-width:1100px) and (max-width:1295px)
{
    .stat-slider-container .stat-slide-wrapper
    {
        padding:80px 0 229px 0;
    }
    .stat-slider-container .stat-slide-inner
    {
        padding-left:40px;
        padding-right:40px;
    }
}
@media screen and (min-width:1024px) and (max-width:1099px)
{
    .stat-slider-container .stat-slide-wrapper
    {
        padding:80px 0 229px 0;
    }
    .stat-slider-container .stat-slide-inner
    {
        padding-left:40px;
        padding-right:40px;
    }
}
@media screen and (min-width:1025px)
{
    .stat-slider-container 
    {
        min-height:200vh;
    }
}
@media screen and (max-width:1024px)
{
    .stat-slider-container .stat-slide-wrapper
    {
        padding:40px 0 209px 0;
    }
    .stat-slider-container .stat-slide-inner
    {
        padding-left:40px;
        padding-right:40px;
    }
    .stat-slider-container .progress-wrapper
    {
        height:10px;
    }
}
@media screen and (min-width:721px) and (max-width:899px)
{
    .stat-slider-container .stat-slide .stat-cell
    {
        width:100%;
    }
    .stat-slider-container .stat-slide .date-cell
    {
        width:100%;
    }
    .stat-slider-container .stat-slide .fine-print
    {
        padding-top:20px;
        padding-bottom:20px;
    }
}
@media screen and (min-width:560px) and (max-width:720px)
{
    .stat-slider-container .stat-slide-inner
    {
        padding-left:25px;
        padding-right:25px;
    }
    .stat-slider-container .stat-slide .stat-cell
    {
        width:100%;
    }
    .stat-slider-container .stat-slide .date-cell
    {
        width:100%;
    }
    .stat-slider-container .stat-slide .fine-print
    {
        padding-top:20px;
        padding-bottom:20px;
    }
}
@media screen and (max-width:559px)
{
    .stat-slider-container .stat-slide-inner
    {
        padding-left:25px;
        padding-right:25px;
    }
    .stat-slider-container .stat-slide .stat-cell
    {
        width:100%;
    }
    .stat-slider-container .stat-slide .date-cell
    {
        width:100%;
    }
    .stat-slider-container .stat-slide .fine-print
    {
        padding-top:20px;
        padding-bottom:20px;
    }
    .stat-slider-container .stat-slide .fine-print p br 
    {
        display:none;
    }
}